.u-height-full { height: 100% !important; }
.u-center-text { text-align: center !important; }

// Margins
.u-margin-top-xs { margin-top: 1rem !important; }
.u-margin-top-sm { margin-top: 1.5rem !important; }
.u-margin-top-md { margin-top: 3rem !important; }
.u-margin-top-lg { margin-top: 5rem !important; }
.u-margin-top-xl { margin-top: 8rem !important; }

.u-margin-bottom-xs { margin-bottom: 1rem !important; }
.u-margin-bottom-sm { margin-bottom: 1.5rem !important; }
.u-margin-bottom-md { margin-bottom: 3rem !important; }
.u-margin-bottom-lg { margin-bottom: 5rem !important; }
.u-margin-bottom-xl { margin-bottom: 8rem !important; }

// Borders - Radius
.u-border-round-sm { border-radius: 5px !important; }

// Positions - Sticky
.u-sticky { position: sticky !important; top: 3rem; z-index: 99; }

// Displays - Flex
.u-flex { display: flex !important; }

.u-flex-x { flex-direction: row !important; }
.u-flex-y { flex-direction: column !important; }

.u-flex-center-x { justify-content: center !important; }
.u-flex-center-y { align-items: center !important; }
