:root {
    // COLORS
    --color-primary: #18354c;
    --color-secondary: #3676ab;
    --color-tertiary: #0d6ffc;

    --color-font-primary: #212529;
    --color-font-secondary: #6c757d;

    --color-black: #000000;
    --color-white: #FFFFFF;

    --color-success: #4caf50;
    --color-info: #2196f3;
    --color-warning: #fb8c00;
    --color-danger: #ff5252;
    
    --color-success-light: #b5dfb7;
    --color-info-light: #b2dbfb;
    --color-warning-light: #ffd095;
    --color-danger-light: #ffebeb;

    --color-quote-border: #dee2f4;

    // FONT SIZES
    --font-size-default: 1.6rem;
    --font-size-lead: 1.8rem;

    // HEADINGS
    --font-size-h1: 5rem;
    --font-size-h2: 2.5rem;
    --font-size-h3: 2rem;

    // FONT WEIGHTS
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}
