.components {
    padding: 5rem 0;

    &-col-4 {
        grid-column: span 4;
    }
    
    &-col-6 {
        grid-column: span 6;
    }
    
    &-col-12 {
        grid-column: span 12;
    }

    &-col-box {
        padding: 2rem;
        box-shadow: .5rem .5rem 2rem rgba(#000, .1);
    }
}

.utilities {
    display: flex;
    justify-content: space-between;

    &__item {
        flex-basis: 170px;
        padding: 2rem;
        background-color: var(--color-info);
    }
}

.utilities-flex {
    height: 200px;
    padding: 2rem;
    background-color: var(--color-danger);

    &__item {
        padding: 2rem;
        background-color: var(--color-info);
    }
}

.code {
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #f2f2f2;
}
