.card-hero {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(#000, .125);
    border-radius: .5rem;
    overflow: hidden;
    height: 100%;

    &__link {
        &:link,
        &:visited {
            color: inherit;
            text-decoration: none;
        }
    }

    &__head {
        height: 100%;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__body {
        width: 100%;
        padding: 2rem;
        position: absolute;
        bottom: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 100%;
        background: rgba(#000, .3);
    }

    &__title {
        // color: var(--color-white);
        line-height: 1.2;
        
        // &:hover {
        //     color: var(--color-primary);
        // }
    }

    &__title,
    &__brief {
        color: var(--color-white);
    }
}
