.micro-details-line {
    display: flex;
    column-gap: 2rem;
    color: var(--color-font-secondary);
    
    &__item {
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 20px;
        height: 20px;
        stroke: currentColor;
        margin-right: .5rem;
    }
}

