@use '../abstracts' as *;

.footer {
    color: var(--color-white);
    background-color: var(--color-primary);

    &__main-content {
        padding: 5rem 0;

        @include respond(phone) {
            padding: 3rem 0;
        }
    }

    &__nav,
    &__socials,
    &__logo-box {
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__logo-box {
        grid-column: span 3;
    }

    &__nav {
        grid-column: span 6;
        justify-content: center; 
    }
    &__socials {
        grid-column: span 3;
        justify-content: end;
    }
    
    @include respond(tab-land) {
        &__nav,
        &__socials,
        &__logo-box {
            grid-column: span 12;
        }
    }

    @include respond(tab-land) {
        &__nav,
        &__socials {
            justify-content: center;
        }
    }
    
    &__logo-box {
        width: 12rem;

        @include respond(tab-land) {
            margin: 0 auto;
        }
    }

    &__logo {
        width: 100%;
    }

    &__nav-list,
    &__social-list {
        list-style: none;
        font-size: 1.8rem;
    }
    
    &__nav-item,
    &__social-item {
        display: inline-block;
    }
    
    &__social-item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: .5rem;
        }    
    }

    &__nav-item {
        &:not(:last-child) {
            margin-right: 1rem;

            @include respond(phone) {
                margin-right: .5rem;
            }
        }

        &:not(:first-child)::before {
            content: "|";
            color: var(--color-font-secondary);
            padding-right: 1rem;
            
            @include respond(phone) {
                padding-right: .5rem;
            }
        }
    }

    &__copyright {
        padding: 2rem 0;
        border-top: 1px solid var(--color-font-secondary);
    }
}
